#knobs {
	position: relative;
	width: 400px;
	height: 400px;
	margin: 15px auto 30px;
	text-align: center;
}
#knobs #previous {
	position: absolute;
	top: 0;
	left: 0;
}
#knobs #next {
	position: absolute;
	top: 0;
	right: 0;
}
#knobs #volume-step-dn {
	position: absolute;
	bottom: 0;
	left: 0;
}
#knobs #volume-step-up {
	position: absolute;
	bottom: 0;
	right: 0;
}
#knob-outside, #knob-inside {
	position: absolute;
}
#knob-outside {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#knob-inside {
	top: 15%;
	bottom: 15%;
	left: 15%;
	right: 15%;
	border-radius: 50%;
}
#knob-inside div {
	display: inline;
}
#countdown {
    height: auto;
}
#countdown-display {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    margin: -10px 0 0 -66px;
    font-size: 24px;
    line-height: 20px;
    font-weight: normal;
	text-align: center;
}

.coverart {
	text-align: right;
}
#cover-art {
	height: 200px;
	margin: 0 auto;
	border: 0;
	border-radius: 0;
}